<table class="table-auto">
    <thead>
      <tr>
        <th>Артикул</th>
        <th>Количество</th>
        <th>Цена</th>
        <th>Стоимость за упаковку</th>
        <th>Количество стикеров</th>
      </tr>
    </thead>
    <tbody align="center">
      <tr *ngFor="let sticker of stickers">
        <td>{{ sticker.name }}</td>
        <td>{{ sticker.amount }}</td>
        <td>{{ sticker.price }}</td>
        <td>{{ sticker.finalPrice }}</td>
        <td>{{ sticker.amountStickers }}</td>
        <td><button class="border py-2 px-4 rounded bg-red-500"
          (click)="deleteModel(sticker.id)">delete</button></td>
      </tr>
    </tbody>
  </table>
